<template>
  <div class="info-company-container">
    <div class="info-company-content">
      <h1 class="title">
        О КОМПАНИИ
      </h1>
      <div class="text">
        Что-то более продвинутое делается с помощью покадровой анимации — когда для разных состояний объекта
        (стоит, идет, в прыжке, атакует) создается несколько спрайтов (двумерное изобр
        ажение), которые сменяют друг друга с определенным интервалом.
      </div>
      <div class="more-details">
        <a href="">
          <span>подробнее</span>
          <i class="arrow-right"></i>
        </a>
      </div>
    </div>

  </div>
</template>

<script>
  export default {
    name: "InfoCompany",
    components: {},
    data: () => ({}),
    props: {},
    methods: {}
  }
</script>

<style lang="scss" scoped>
  .info-company {

    &-container {
      padding: 70px 0 80px;
      max-width: 1170px;
      width: 100%;
      margin: 0 auto;
    }

    &-content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: flex-start;

      .title {
        color: #000;
        flex: 1 0;
        max-width: 246px;
        width: 100%;
        white-space: nowrap;
        margin: 0;
      }

      .text {
        color: #000;
        flex: 1 0;
        width: 100%;
        min-width: 290px;
        max-width: 770px;
        text-align: left;
        font-size: 16px;
        line-height: 26px;
        font: Regular 16px/26px Montserrat;
      }

      .more-details {
        position: relative;
        flex: 1 1 100%;
        margin-top: 50px;


        a {
          display: flex;
          justify-content: center;
          align-items: center;
          text-decoration: none;

          span {
            position: relative;
            font: SemiBold 14px/18px Montserrat;
            text-transform: uppercase;
            font-size: 14px;
            line-height: 18px;
            letter-spacing: 0;
            color: #000;
          }

          .arrow-right {
            display: block;
            margin-left: 16px;
            width: 18px;
            height: 12px;
            background-image: url("../../../public/svg/right-arrow-black.svg");
          }
        }
      }
    }
  }

  @media screen and (max-width: 860px) {
    .info-company {
      &-container {
        padding: 20px 0 31px;
        width: 100%;

        .title {
          text-align: center;
          margin-bottom: 10px;
          font-size: 16px;
          line-height: 19px;
        }

        .text {
          font-size: 10px;
          line-height: 13px;
        }

        .more-details {
          font-size: 10px;
          line-height: 13px;
          color: #000;
          font-weight: 600;
          margin-top: 20px;
        }
      }

      &-content {
        padding: 0 15px;
        justify-content: center;
      }
    }
  }

</style>