<template>
  <div class="news-container">
    <div class="news-head">
      <h1>Новости</h1>
      <a class="all-news" href="" target="_blank">Все новости</a>
    </div>
    <div class="news-images">
      <a v-for="(image, i) in imageList" :key="`image-key-${i}`" href="">
        <img :src="image.src" alt="">
        <div class="image-background"></div>
      </a>
    </div>
    <button class="news-show-more-button" @click="onClickShowMore()">показать еще</button>
  </div>
</template>

<script>
  export default {
    name: "News",
    data: () => ({
      imageList: [
        {
          src: require('../../../public/images/img_1.jpg')
        },
        {
          src: require('../../../public/images/img_2.jpg')
        },
        {
          src: require('../../../public/images/img_3.jpg')
        }
      ]
    }),
    methods: {
      onClickShowMore() {
        const [imageFirst, imageSecond, imageThird] = this.imageList;
        this.imageList.push(imageFirst, imageSecond, imageThird);
      }
    }
  }
</script>

<style lang="scss" scoped>
  .news {
    &-container {
      max-width: 1170px;
      margin: 0 auto;
    }

    &-head {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      h1 {
        color: #000;
        margin: 0;
        line-height: 39px;
        text-transform: uppercase;
      }

      a {
        text-decoration: none;
        line-height: 26px;
        font: Regular 16px/26px Montserrat;
        letter-spacing: 0;
        color: #000;
      }
    }

    &-images {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      a {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 30px;
        overflow: hidden;
        position: relative;

        .image-background {
          background-color: #000;
          opacity: 0.56;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          -webkit-transition: all 1s ease-out;
        }

        &:hover {
          img {
            -webkit-transform: scale(1.1);
            -moz-transform: scale(1.1);
            -o-transform: scale(1.1);
          }

          .image-background {
            opacity: 0;
          }
        }

        img {
          max-width: 570px;
          width: 100%;
          height: 300px;
          flex: 1 0 50%;
          object-fit: cover;
          -moz-transition: all 1s ease-out;
          -o-transition: all 1s ease-out;
          -webkit-transition: all 1s ease-out;
        }

        &:nth-child(3n+3) {
          flex: 1 0 100%;

          img {
            max-width: 100%;
          }
        }
      }
    }

    &-show-more-button {
      margin: 50px 0 77px;
      text-align: center;
      font: SemiBold 14px/18px Montserrat;
      letter-spacing: 0;
      font-size: 14px;
      font-weight: 600;
      line-height: 18px;
      color: #000000;
      text-transform: uppercase;
      border: 0;
      background: none;
      cursor: pointer;
    }
  }

  @media screen and (max-width: 860px) {
    .news {

      &-container {
        padding: 0 15px;
      }

      &-head {
        justify-content: center;
        h1 {
          font-size: 16px;
          line-height: 19px;
        }
      }

      &-images {
        a {
          height: 200px;
        }
        & :nth-child(2n+1) {
          order: 2
        }
        & :nth-child(2n) {
          order: 1
        }
      }

      &-show-more-button {
        font-size: 10px;
        line-height: 13px;
        margin: 19px 0 31px;
      }
    }
    .all-news {
      display: none;
    }
  }

</style>