<template>
  <div>
    <div v-if="!isSubmitForm" class="subscription">
      <h1>ПОДПИШИСЬ НА РАССЫЛКУ</h1>
      <form @submit.prevent="checkForm" ref="userForm" class="form" novalidate="true">
        <label class="small-label">
        <span class="title-input">
          Имя
          <span class="error-message" v-if="errors.includes('firstName')">Заполните поле</span>
          <span class="error-message" v-if="errors.includes('number')">Цифры в имени не допустимы</span>
        </span>
          <input @input="onInputName($event)"
                 :class="[errors.includes('firstName') || errors.includes('number') ? 'error' : '']" type="text"
                 placeholder="Имя"/>
        </label>
        <label class="small-label">
          <span class="error-message" v-if="errors.includes('email')">Заполните поле</span>
          <span class="error-message" v-if="errors.includes('email-invalid')">Введите валидный email</span>
          <input v-model="userForm.email" @input="onInputEmail($event)" :class="{'error': errors.includes('email')}"
                 type="email" placeholder="example@mail.com"/>
        </label>
        <label>
          <span class="error-message" v-if="errors.includes('comments')">Заполните поле</span>
          <textarea v-model="userForm.comments" :class="{'error': errors.includes('comments')}"
                    @input="onInput($event, 'comments')" placeholder="Комментрии"></textarea>
        </label>
        <input class="small-label" type="submit" value="Подписаться"/>
      </form>
      <div class="rss">
        <img src="../../../public/svg/RSS.svg" alt="">
      </div>
    </div>
    <template v-else>
      <subscribe-done :name="userForm.firstName"/>
    </template>
  </div>
</template>

<script>
  import SubscribeDone from "../SubscribeDone";

  export default {
    name: "Subscription",
    components: {SubscribeDone},
    data: () => ({
      errors: [],
      userForm: {
        firstName: '',
        email: '',
        comments: ''
      },
      isSubmitForm: false
    }),
    props: {},
    methods: {
      checkForm() {
        for (let key in this.userForm) {
          if (this.userForm.hasOwnProperty(key)) {
            if (this.userForm[key] === '') {
              this.errors.push(key)
            }
          }
        }
        if (this.errors.length > 0) {
          return false
        }

        this.isSubmitForm = true;
      },
      onInput(e, name) {
        this.userForm[name] = e.target.value;
        if (this.userForm[name] === '') {
          this.errors.push(name)
        } else {
          this.errors = this.errors.filter(el => el !== name);
        }
      },
      onInputName(e) {
        this.userForm.firstName = e.target.value;
        const regExpNumber = new RegExp(/\d+/);

        if (this.userForm.firstName.length > 0 && regExpNumber.test(this.userForm.firstName)) {
          this.errors.push('number')
        } else {
          this.errors = this.errors.filter(el => el !== 'number');
        }
        if (this.userForm.firstName === '') {
          this.errors.push('firstName')
        } else {
          this.errors = this.errors.filter(el => el !== 'firstName');
        }
      },
      onInputEmail(e) {
        this.userForm.email = e.target.value;
        // eslint-disable-next-line no-useless-escape
        const regExpEmail = new RegExp(/^(?:(?:[\w`~!#$%^&*\-=+;:{}'|,?\/]+(?:(?:\.(?:"(?:\\?[\w`~!#$%^&*\-=+;:{}'|,?\/.()<>\[\] @]|\\"|\\\\)*"|[\w`~!#$%^&*\-=+;:{}'|,?\/]+))*\.[\w`~!#$%^&*\-=+;:{}'|,?\/]+)?)|(?:"(?:\\?[\w`~!#$%^&*\-=+;:{}'|,?\/.()<>\[\] @]|\\"|\\\\)+"))@(?:[a-zA-Z\d\-]+(?:\.[a-zA-Z\d\-]+)*|\[\d{1,3}\.\d{1,3}\.\d{1,3}\.\d{1,3}])$/, 'gm');

        if (this.userForm.email.length > 0 && !regExpEmail.test(this.userForm.email)) {
          this.errors.push('email-invalid')
        } else {
          this.errors = this.errors.filter(el => el !== 'email-invalid');
        }

        if (this.userForm.email === '') {
          this.errors.push('email')
        } else {
          this.errors = this.errors.filter(el => el !== 'email');
        }
      }
    }
  }
</script>

<style lang="scss" scoped>
  $width-rss: 78px;
  $width-rss-mobile: 48.2px;

  .subscription {
    max-width: 1170px;
    width: 100%;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 42px 35px;
    position: relative;
    border: 1px solid #14A5DA;

    h1 {
      color: #000;
      margin: 0 0 1px;
    }

    .form {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-end;
      justify-content: space-between;
      max-width: 570px;
      margin: 0 auto;

      .small-label {
        min-width: 220px;
        max-width: 270px;
      }

      input[type="submit"] {
        font-size: 14px;
        background: #14A5DA;
        margin: 20px auto 0;
        flex: 1 0 100%;
        color: #fff;
      }

      label {
        flex: 1 0 50%;
        margin-top: 26px;
        display: flex;
        flex-direction: column;

        .title {
          &-input, &-textarea {
            line-height: 18;
            font: Regular 12px/15px Montserrat;
            letter-spacing: 0;
            font-size: 12px;
            line-height: 15px;
            padding-left: 20px;
            text-align: left;
          }

          &-input {
            color: #000;
            margin-bottom: 6px;
          }

          &-textarea {
            color: #000;
            margin-bottom: 4px;
          }
        }

        &:nth-child(3) {
          flex: 1 0 100%;
        }
      }

      input, textarea {
        box-sizing: border-box;
        border-radius: 4px;
        color: #000;
        font: Regular 14px/18px Montserrat;
        letter-spacing: 0;
        font-size: 14px;
        line-height: 18px;
        padding-left: 20px;
        padding-right: 20px;

        &::placeholder {
          color: #000;
          opacity: 0.45;
        }
      }

      input {
        width: 100%;
        max-height: 40px;
        padding-top: 11px;
        padding-bottom: 11px;
        border: 1px solid #14A5DA;

        &:focus {
          background-color: rgba(20, 165, 218, 0.12);
        }
      }

      textarea {
        border: 1px solid #14A5DA;
        max-width: 570px;
        width: 100%;
        height: 128px;
        padding: 10px 20px;
        resize: none;
      }
    }

    .rss {
      position: absolute;
      background-color: rgba(20, 165, 218, 0.12);
      height: $width-rss;
      width: $width-rss;
      top: 0;
      left: 0;

      img {
        position: absolute;
        right: 46px;
        bottom: 47px;
      }

      &:after {
        content: '';
        display: block;
        width: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        border-bottom: $width-rss solid #fff;
        border-left: $width-rss solid transparent;
      }
    }
  }

  .error {
    border: 1px solid #E76400 !important;

    &-message {
      margin-bottom: 6px;
      letter-spacing: 0;
      font-size: 12px;
      line-height: 15px;
      padding-left: 20px;
      text-align: left;
      color: #E76400;
    }
  }

  @media screen and (max-width: 860px) {
    .subscription {
      margin: 0 15px;
      width: auto;
      padding: 30px 35px 35px;

      h1 {
        font-size: 12px;
        line-height: 15px;
        z-index: 1;
        position: relative;
        margin: 0 0 7px;
      }

      .form {
        label {
          margin-top: 16px;

          .title {
            &-input, &-textarea {
              padding-left: 16px;
              font-size: 8px;
            }
          }
        }

        input, textarea {
          border-radius: 2px;
          font-size: 10px;
          line-height: 13px;
          padding-left: 16px;
          padding-right: 16px;
        }

        textarea {
          padding-top: 14px;
        }
      }

      .rss {
        height: $width-rss-mobile;
        width: $width-rss-mobile;

        img {
          right: 28px;
          bottom: 28px;
          height: 12px;
          width: 12px;
        }

        &:after {
          border-bottom: $width-rss-mobile solid #fff;
          border-left: $width-rss-mobile solid transparent;
        }
      }
    }
  }

</style>