<template>
  <div class="main">
    <info-company/>
    <news/>
    <subscription/>
  </div>
</template>

<script>
  import InfoCompany from "../components/Main/InfoCompany";
  import News from "../components/Main/News";
  import Subscription from "../components/Main/Subscription";
  export default {
    name: "Main",
    components: {Subscription, News, InfoCompany}
  }
</script>