<template>
  <div class="banner">
    <el-carousel :height="height"
                 arrow="always">
      <el-carousel-item v-for="(item, i) in carouselList" :key="`slide-image-key${i}`">
        <a href="" target="_blank" class="link">
          <div class="banner-container">
            <div class="banner-content">
              <div class="animation-block">
                анимация
              </div>
              <div class="title">Подготовка спрайтов для анимации в Unity</div>
              <div class="subtitle">Спрайты должны немного отличаться друг от друга, чтобы было заметно движение.</div>
            </div>
          </div>
          <div class="banner-background"></div>
          <img :src="item.src" alt="">
        </a>
      </el-carousel-item>
    </el-carousel>
  </div>
</template>

<script>
  export default {
    name: "Banner",
    components: {},
    beforeMount() {
      this.onResize();
      window.addEventListener('resize', this.onResize);
    },
    data: () => ({
      height: '0',
      carouselList: [
        {
          src: require('../../public/images/slide_1.jpg')
        },
        {
          src: require('../../public/images/slide_2.jpg')
        },
        {
          src: require('../../public/images/slide_3.jpg')
        }
      ]
    }),
    props: {},
    methods: {
      onResize() {
        if (window.innerWidth > 1170) {
          this.height = '600px';
          return !1
        }
        if (window.innerWidth <= 320) {
          this.height = '240px';
          return !1
        }
        this.height = window.innerWidth / 1.5 + 'px';
      }
    }
  }
</script>

<style lang="scss" scoped>
  .banner {
    position: relative;

    .link {
      height: 100%;
      width: 100%;

      &:hover {
        z-index: 4;
        .banner-background {
          opacity: 0;
        }
      }
    }

    &-background {
      height: 100%;
      width: 100%;
      background: #000000 0 0 no-repeat padding-box;
      position: absolute;
      top: 0;
      z-index: 2;
      opacity: 0.56;
      -moz-transition: all .3s ease-out;
      -o-transition: all .3s ease-out;
      -webkit-transition: all .3s ease-out;
    }

    &-container {
      position: absolute;
      top: 0;
      z-index: 3;
      height: 100%;
      width: 100%;
    }

    &-content {
      width: 100%;
      padding: 116px 0;
      max-width: 1170px;
      margin: 0 auto;

      .animation-block {
        background-color: #14A5DA;
        text-align: center;
        font: Medium 14px/30px Montserrat;
        letter-spacing: 0;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 14px;
        line-height: 30px;
        height: 30px;
        width: 120px;
        margin-bottom: 30px;
      }

      .title {
        text-align: left;
        font: SemiBold 46px/54px Montserrat;
        letter-spacing: 0;
        color: #FFFFFF;
        text-transform: uppercase;
        font-size: 46px;
        font-weight: 600;
        line-height: 54px;
        max-width: 766px;
        margin-bottom: 19px;
      }

      .subtitle {
        text-align: left;
        font: Regular 24px/30px Montserrat;
        letter-spacing: 0;
        color: #FFFFFF;
        font-size: 24px;
        line-height: 30px;
        max-width: 659px;
      }
    }
  }

  @media screen and (max-width: 860px) {
    .banner {
      margin-top: 68px;
    }
    .link {
      .banner-content {
        width: auto;
        padding: 25px 15px;
        .animation-block {
          width: 75px;
          height: 24px;
          font-size: 8px;
          line-height: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .title {
          font-size: 16px;
          line-height: 20px;
        }
        .subtitle {
          font-size: 14px;
          line-height: 18px;
        }
      }
    }
  }
</style>