<template>
  <footer class="footer">
    <div class="footer-top">
      <div>
        <div class="logo">logotype</div>
        <div class="columns">
          <div class="contacts">
            <div class="address">г. Москва, метро Бауманская, ул. Бауманская, дом 44</div>
            <div class="phone"><a href="callto:+70000000000">+7 000 000 00 00</a></div>
          </div>
          <div class="info">
            <div class="links">
              <a :href="link.href" target="_blank" v-for="(link, i) in links" :key="`link-key-${i}`" class="link">
                {{link.text}}
              </a>
            </div>
            <div class="social">
              <span>Мы в соц. сетях</span>
              <a v-for="(image, i) in imageList" :key="`image-key-${i}`" :href="image.href" target="_blank">
                <img :src="image.src" :alt="image.alt">
              </a>
            </div>
            <div class="subscribe">
              <label for="email">Подписка на новости
              </label>
              <form @submit.prevent="checkForm" class="form">
                <input id="email" type="email" v-model="email" placeholder="example@mail.com"/>
                <input class="submit-button" type="submit" value="Ok"/>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="content">
        <div>© ООО «Глобус», 2016 — 2019</div>
        <a href="">Политика конфиденциальности</a>
        <a href="">Cookies</a>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: "FooterApp",
    data: () => ({
      links: [
        {
          href: '',
          text: 'О компании'
        },
        {
          href: '',
          text: 'Партнёрская программа'
        },
        {
          href: '',
          text: 'Реклама'
        },
        {
          href: '',
          text: 'Пресс-центр'
        },
        {
          href: '',
          text: 'Вакансии'
        },
        {
          href: '',
          text: 'Помощь'
        },
        {
          href: '',
          text: 'Правила'
        }
      ],
      imageList: [
        {
          src: require('../../public/svg/facebook-letter-logo.svg'),
          alt: 'facebook logo',
          href: ''
        },
        {
          src: require('../../public/svg/odnoklassniki.svg'),
          alt: 'odnoklassniki logo',
          href: ''
        },
        {
          src: require('../../public/svg/instagram-logo.svg'),
          alt: 'instagram logo',
          href: ''
        }
      ],
      email: ''
    }),
    methods: {
      checkForm() {
        if (this.email === '') {
          return !1
        }
        this.$router.push({name: 'subscribe-done'})
      }
    }
  }
</script>

<style lang="scss" scoped>
  .footer {
    margin-top: 60px;

    &-top, &-bottom {
      & > div {
        max-width: 1170px;
        width: 100%;
        margin: 0 auto;
      }
    }

    &-top {
      background-color: #DCE5E9;
      padding: 30px 0 33px;

      .logo {
        font: Bold 20px/24px Montserrat;
        color: #000;
        letter-spacing: 0;
        line-height: 24px;
        font-size: 20px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: left;
        margin-bottom: 20px;
      }

      .columns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .contacts {
          max-width: 217px;
          text-align: left;
          font: Regular 14px/18px Montserrat;
          font-size: 14px;
          line-height: 18px;
          letter-spacing: 0;
          width: 100%;

          .address {
            margin-bottom: 59px;
            font-size: 14px;
            line-height: 18px;
            color: #000;
          }

          .phone a {
            color: #000000;
            font-weight: 600;
            font-size: 14px;
            line-height: 18px;
            text-decoration: none;
          }
        }

        .info {
          display: flex;
          flex-wrap: wrap;
          justify-content: space-between;
          max-width: 770px;
          width: 100%;

          .links {
            display: flex;
            justify-content: space-between;
            flex: 1 0 100%;

            .link {
              font: Regular 14px/18px Montserrat;
              letter-spacing: 0;
              color: #000;
              text-decoration: none;
              font-size: 14px;
              line-height: 18px;
            }

          }

          .social, .subscribe {
            font-size: 14px;
            line-height: 18px;
            color: #000;
            display: flex;
            align-items: flex-start;
            margin: 37px 0 0;
          }

          .social {
            flex-direction: row;
            flex-wrap: wrap;

            span {

              text-align: left;
              flex: 1 0 100%;
            }

            & :not(:first-child) {
              margin-top: 16px;
              margin-right: 12px;
            }
          }

          .subscribe {
            flex-direction: column;

            label {
              margin-bottom: 10px;
            }

            .form {
              display: flex;
              flex-direction: row;
              flex-wrap: nowrap;

              input {
                background: #F7F7F7;
                box-sizing: border-box;
                border-radius: 2px;
                border: 0;
                max-width: 289px;
                width: 100%;
                min-width: 215px;
                height: 30px;
                font-size: 12px;
                line-height: 15px;
                padding: 8px 15px 7px 15px;
                margin-right: 11px;
                text-align: left;
              }

              .submit-button {
                height: 30px;
                min-width: 70px;
                border-radius: 2px;
                border: none;
                background-color: #14A5DA;
                font: SemiBold 14px/18px Montserrat;
                color: #fff;
                font-size: 14px;
                line-height: 18px;
                margin-right: 0;
                text-align: center;
                padding: 0;
                font-weight: 600;
              }
            }
          }
        }
      }
    }

    &-bottom {
      background-color: #001F2B;
      padding: 23px 0 22px;

      .content {
        display: flex;
        justify-content: space-between;

        & :first-child {
          flex: 1 0 auto;
          text-align: left;
        }

        & > * {
          font-size: 12px;
          line-height: 15px;
          color: #DCE5E9;
          text-decoration: none;
        }

        & :last-child {
          margin-left: 30px;
        }
      }
    }
  }

  @media screen and (max-width: 860px) {
    .footer {
      &-top {
        padding: 20px 15px 36px;
    }
      .logo {
        text-align: center;
        margin-bottom: 10px;
      }

      .columns {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;

        .contacts {
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          margin: 0 auto;

          .address, .phone {
            flex: 1 0 100%;
            text-align: center;
          }
          .address {
            margin-bottom: 20px;
          }

          .phone {
            margin-bottom: 26px;
          }
        }

        .info {
          flex-direction: column;
          align-items: center;

          .links {
            flex-direction: column;
            flex-wrap: wrap;
            justify-content: center;
            & > * {
              margin-bottom: 8px;
            }
          }

          .social, .subscribe {
            flex-direction: row;
            align-items: center;
            flex-wrap: wrap;

            & :not(:first-child) {
              margin-top: 0;
              margin-right: 0;
            }

            img {
              height: 26px;
            }
          }

          .social {
            justify-content: center;
            margin-top: 26px;

            span {
              text-align: center;
            }
            & :not(:first-child) {
              margin: 19px 10px 40px;
            }
          }

          .subscribe {
            flex-direction: column;
            width: 100%;

            .form .submit-button {
              min-width: 60px;
            }
          }
        }
      }

      &-bottom {
        padding: 23px 15px 21px;

        .content {
          & :first-child {
            display: none;
          }
        }
      }
    }
  }

</style>