<template>
  <header class="header">
    <div class="header-top">
      <div class="schedule">
        <a href="">Режим работы</a>
        <a href="">Правила посещения</a>
      </div>
    </div>
    <div class="header-bottom" @mouseleave.stop="isShowTab = ''">
      <router-link class="logo" :to="{name: 'main'}">LOGOTYPE</router-link>
      <div class="links">
        <router-link v-for="link in links" :key="link.name" :to="link.name" :class="{'bold': isShowTab === link.name}"
                     @mouseenter.native="isShowTab = link.name">{{link.text}}
        </router-link>
      </div>
      <div class="authorization">
        <a href="">Регистрация</a>
        <a href="">Вход</a>
      </div>
      <div class="tabs" v-if="tabList[isShowTab]">
        <template v-if="tabList[isShowTab]" tag="div" class="links">
          <router-link v-for="(tab, i) in tabList[isShowTab]" :key="`tab-key-${i}`" :to="tab.name">
            {{tab.text}}
          </router-link>
        </template>
      </div>
    </div>
    <div class="mobile">
      <a href="/" class="logo">LOGOTYPE</a>
      <button class="burger" v-show="!isShowMenuMobile"
              @click="isShowMenuMobile = true"><img src="../../public/svg/burger.svg" alt="burger"></button>
      <button class="close" v-show="isShowMenuMobile" @click="isShowMenuMobile = false"><img
        src="../../public/svg/close.svg" alt="close"></button>
      <transition name="slideToggle">
        <div v-if="isShowMenuMobile" class="slide">
          <div class="links">
            <router-link v-for="link in links" :key="link.name" :to="link.name">{{link.text}}</router-link>
          </div>
          <div class="authorization">
            <a href="">Вход</a>
            <a href="">Регистрация</a>
          </div>
          <div class="schedule">
            <a href="">Режим работы</a>
            <a href="">Правила посещения</a>
          </div>
        </div>
      </transition>
    </div>
  </header>
</template>

<script>
  export default {
    name: "HeaderApp",
    data: () => ({
      links: [
        {
          text: 'Меню',
          name: 'menu1'
        },
        {
          text: 'Меню',
          name: 'menu2'
        },
        {
          text: 'Меню',
          name: 'menu3'
        },
        {
          text: 'Меню',
          name: 'menu4'
        },
        {
          text: 'Меню',
          name: 'menu5'
        },
        {
          text: 'Меню',
          name: 'menu6'
        }
      ],
      tabList: {
        menu1: [
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          }
        ],
        menu3: [
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          },
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          }
        ],
        menu5: [
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          },
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          },
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          },
          {
            text: 'Меню',
            name: 'menu3'
          },
          {
            text: 'Меню',
            name: 'menu4'
          }
        ]
      },
      isShowMenuMobile: false,
      isShowTab: ''
    })
  }
</script>

<style lang="scss" scoped>
  .header {
    display: flex;
    flex-direction: column;

    &-top {
      background-color: #DCE5E9;

      .schedule {
        max-width: 1170px;
        margin: 0 auto;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        & > a {
          padding: 11px 0;
        }
      }
    }

    &-bottom {
      max-width: 1170px;
      margin: 0 auto;
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      padding: 46px 0 32px;
      align-items: center;
      flex-wrap: wrap;

      .links {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        & > a {
          &:not(:last-child) {
            margin-right: 59px;
          }
        }
      }

      .authorization {
        display: flex;
        align-items: center;

        & :last-child {
          margin-left: 25px;
        }
      }
    }

    .mobile {
      display: none;
    }

    .logo {
      font: Bold 20px/24px Montserrat;
      color: #000;
      letter-spacing: 0;
      line-height: 24px;
      font-size: 20px;
      text-decoration: none;
      text-transform: uppercase;
    }

    .schedule > a {
      font: Regular 14px/18px Montserrat;
      font-size: 14px;
      line-height: 18px;
      letter-spacing: 0;
      color: #000;
      text-decoration: none;
    }

    .links {
      a {
        text-align: center;
        font: Regular 16px/19px Montserrat;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #000;
        position: relative;
      }
    }

    .authorization {
      a {
        padding-top: 0;
        padding-bottom: 0;
        text-align: center;
        font: SemiBold 12px/15px Montserrat;
        font-size: 12px;
        line-height: 15px;
        font-weight: 600;
        text-decoration: none;
        color: #000;
      }
    }

    button {
      background-color: transparent;
      border: none;
    }

    .tabs {
      display: flex;
      padding: 36px 0 33px;
      margin: 30px 0 auto;
      border-top: 1px solid #CECECE;
      justify-content: center;
      width: 100%;
      position: relative;
      flex-direction: row;

      a {
        text-align: center;
        font-size: 16px;
        line-height: 19px;
        text-decoration: none;
        color: #000;
      }

      & :not(:first-child) {
        margin-left: 40px;
      }
    }

    .bold {
      font-weight: 600;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        display: block;
        left: 0;
        height: 1px;
        width: 0;
        background-color: #000;
        animation: underlineLink .3s ease forwards;
      }
    }
  }

  @media screen and (max-width: 860px) {
    .header {
      &-top, &-bottom {
        display: none;
      }

      .mobile {
        position: fixed;
        box-sizing: border-box;
        background-color: #fff;
        top: 0;
        height: 68px;
        width: 100%;
        z-index: 11;
        padding: 20px 15px 24px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: wrap;

        .slide {
          display: flex;
          flex-direction: column;
          flex: 1 0 100%;
          z-index: 11;
          position: fixed;
          top: 68px;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #fff;

          & > * {
            display: flex;
            flex-direction: column;
          }

          .links {
            margin-top: 14px;

            & > a {
              margin-bottom: 25px;
            }
          }

          .authorization {
            margin-top: 70px;

            & > * {
              margin-bottom: 10px;
            }
          }

          .schedule {
            margin-top: 30px;

            & > * {
              margin-bottom: 10px;
            }
          }

          a, button {
            position: relative;

            &:after {
              content: '';
              position: absolute;
              bottom: 0;
              left: 0;
              height: 1px;
              width: 0;
              background-color: #000;
            }
          }

          a:hover, button:hover {
            font-weight: 700;

            &:after {
              animation: underlineLink .3s ease forwards;
            }
          }
        }
      }

      .authorization {
        a {
          font-size: 12px;
          line-height: 15px;
        }
      }

      .logo {
        line-height: 24px;
        font-size: 20px;
      }

      .schedule > a {
        font-size: 14px;
        line-height: 18px;
      }

      .links > a {
        font-size: 16px;
        line-height: 19px;
      }
    }
  }

  .slideToggle-enter-active {
    animation: slideLeft .3s ease forwards;
  }

  .slideToggle-leave-active {
    animation: slideLeft .3s ease reverse forwards;
  }

  @keyframes slideLeft {
    0% {
      width: 0;
      overflow: hidden;
    }
    100% {
      width: 100%;
      overflow: hidden;
    }
  }

  @keyframes underlineLink {
    0% {
      width: 0;
    }
    100% {
      width: 100%;
    }
  }

</style>