<template>
  <div class="subscribe-done">
    <div class="subscribe-done-content">
      <img src="../../public/svg/done.svg" alt="">
      <div v-if="name" class="message">Уважаемый, <span class="name">{{name}}</span>, спасибо за подписку!</div>
      <div v-else class="message">Благодарим за подписку!</div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "SubscribeDone",
    props: {
      name: {
        type: String,
        default: ''
      }
    }
  }
</script>

<style lang="scss" scoped>
  .subscribe-done {
    max-width: 1000px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0,0,0, .16);
    padding: 135px 0;
    width: 100%;

    .message {
      margin-top: 25px;
    }
    .name {
      font-weight: 600;
    }

  }
</style>