<template>
  <div id="app">
    <header-app/>
    <banner/>
    <router-view class="app-content"/>
    <footer-app/>
  </div>
</template>

<script>
  import HeaderApp from "./components/HeaderApp";
  import FooterApp from "./components/FooterApp";
  import Banner from "./components/Banner";

  export default {
    name: 'app',
    components: {
      Banner,
      FooterApp,
      HeaderApp
    }
  }
</script>

<style lang="scss">
  #app {
    font-family: 'Montserrat', regular, serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  .app-content {
    flex: 1 0 auto;
  }
  .footer {
    flex: 0 0 auto;
  }
  @media screen and (max-width: 860px) {
    .app-content {
      padding-top: 68px;
    }
  }
</style>
