
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("../../../public/fonts/Montserrat/Montserrat-SemiBold.eot");
  src: url("../../../public/fonts/Montserrat/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
  url("../../../public/fonts/Montserrat/Montserrat-SemiBold.woff2") format("woff2"),
  url("../../../public/fonts/Montserrat/Montserrat-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("../../../public/fonts/Montserrat/Montserrat-Regular.eot");
  src: url("../../../public/fonts/Montserrat/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
  url("../../../public/fonts/Montserrat/Montserrat-Regular.woff2") format("woff2"),
  url("../../../public/fonts/Montserrat/Montserrat-Regular.woff") format("woff");
}

@import 'el_carousel';
body {
  line-height: normal;
  font-style: normal;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  background-color: #fff;
  color: #000000;
}
