.el-carousel__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  .el-carousel__arrow {
    position: absolute;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    top: 90%;
  }

  & .el-carousel__arrow--right {
    background-image: url("../../../public/svg/right-arrow.svg");
    .el-icon-arrow-right:before {
      content: '';
    }
  }

  & .el-carousel__arrow--left {
    transform: rotate(180deg) translateY(50%);
    background-image: url("../../../public/svg/right-arrow.svg");
    .el-icon-arrow-left:before {
      content: '';
    }
  }
}

.el-carousel__indicator--horizontal {
  padding: 12px 15px;
}

.el-carousel__button {
  width: 70px;
  height: 3px;
  background-color: #fff;
  border: none;
  opacity: 1;
}
.el-carousel__indicator.is-active button {
  background-color: #14A5DA;
}

.el-carousel__item {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position-x: center;
    background-position-y: top;
    /* transform: scale(1.37); */
    transform-origin: top;
  }
}

.el-carousel__indicators--horizontal {
  bottom: 5%;
  z-index: 3;
}

@media (min-width: 320px) and (max-width: 1170px) {
  .el-carousel__arrow--right {
    right: 15px;
  }

  .el-carousel__arrow--left {
    left: 15px;
  }
}

@media (min-width: 1170px) {
  .el-carousel__arrow--right {
    right: calc((100vw - 1170px)/2);
  }

  .el-carousel__arrow--left {
    left: calc((100vw - 1170px)/2);
  }
}


@media screen and (max-width: 860px) {
  .el-carousel__container {
    .el-carousel__arrow--left {
      transform: rotate(180deg) translateY(20%) scale(0.5);
    }
    .el-carousel__arrow--right {
      transform: translateY(-20%) scale(0.5);
    }
  }

  .el-carousel__indicators--horizontal {
    bottom: 0;
  }
  .el-carousel__indicator--horizontal {
    padding: 12px 6px;
  }
  .el-carousel__button {
    width: 30px;
  }
}